<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>

<div th:replace="~{fragments/header :: navbar}"></div>

<div class="container">
    <div class="patient-table">
        <div class="head-table">
            <form class="search-bar" method="get" th:action="@{/patient}">
                <label>
                    <input type="text" class="form-control" placeholder="Điền mã bệnh nhân" name="patientId" />
                </label>
                <input class="btn btn-success" type="submit" value="Tìm kiếm">
            </form>

            <div class="new-patient">
                <a  class="btn btn-primary" th:href="@{/patient/create}">Thêm mới</a>
            </div>
        </div>

        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">Mã bệnh nhân</th>
                <th scope="col">Họ tên</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${listOfPatients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.name}"></td>
                <td th:text="${#temporals.format(patient.dob, 'dd-MM-yyyy')}"></td>
                <td th:text="${#temporals.format(patient.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{/exam/{id}(id = ${patient.id})}">Chi tiết</a>
                    <form method="post" th:action="@{/patient/delete/{id} (id = ${patient.id})}"
                          th:data-confirm-delete="|Bạn có chắc muốn xoá bệnh nhân ${patient.name}?|"
                          onclick="return confirm(this.getAttribute('data-confirm-delete'));">
                        <button type="submit" class="btn btn-danger">Xoá</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>